body {
  background-color: lightgray;
  font-family: 'Nanum Gothic', sans-serif;
}

.total {
  display: flex; 
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

textarea {
  font-family: 'Nanum Gothic', sans-serif;
  background: transparent;
  width: 500px;
  height: 600px;
  resize: vertical;
  
}

h3 {
  text-align: center;
}
